<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Characters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>


<div class="container">
    <div class="card-panel teal lighten-2">
        <h1>Characters</h1>
    </div>
   <table class="striped centered">
         <thead>
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Phrase</th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="chr, stat: ${characters}">
             <td th:text="${chr.getId()}"></td>
             <td th:text="${chr.getName()}"></td>
             <td th:text="${chr.getPhrase()}"></td>
         </tr>
         </tbody>
     </table>
</div>
</body>
</html>